# Created by https://www.gitignore.io/api/scala

### Scala ###
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

.metals
.bloop
project/**/metals.sbt
.bsp

node_modules
build
