version: "3"

services:
  tests:
    image: buildo/scala-sbt-alpine:8_2.13.7_1.5.5
    container_name: tests
    environment:
      DB_USER: postgres
      DB_PASSWORD:
      DB_SERVER: postgres-db
      DB_NAME: toctoc
      MYSQL_DB_URL: jdbc:mysql://mysql-db:3306/toctoc?useSSL=false
    volumes:
      - $PROJECT_PATH:/project
      - $IVY_PATH:/root/.ivy2
    depends_on:
      - postgres-db
      - mysql-db
    command: sleep 1d

  postgres-db:
    image: postgres:10.1-alpine
    container_name: postgres-db
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: toctoc
      POSTGRES_USER: postgres

  mysql-db:
    image: mysql:5.7
    container_name: mysql-db
    ports:
      - 3306:3306
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: toctoc
